@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active {
  @apply bg-green-700 bg-opacity-25;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
